<footer class="footer">
    <div class="columns">
        <a class="column has-text-centered" href="/">トップページ</a>
        <a class="column has-text-centered" href="https://www.npmjs.com/package/jpyc-payment-qr">QR生成パッケージ（npm）</a>
        <a class="column has-text-centered" href="https://www.osumiakari.jp/about/products/">その他のプロダクト</a>
        <a class="column has-text-centered" href="https://github.com/oageo/jpyc-payment-qr-site">ソースコード</a>
    </div>
    <hr>
    <p>JPYC支払いQRコード（EIP-681）生成ツール by <a href="https://www.osumiakari.jp">Osumi Akari</a>（<a href="https://c.osumiakari.jp/@oageo">@oageo@c.osumiakari.jp</a>）。</p>
    <p><a href="https://github.com/oageo/jpyc-payment-qr-site">ソースコードはGitHub</a>上に置いてあります。MITライセンスです。</p>
</footer>